* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  background: #ccc;
  height: 100vh;
}

button {
  align-self: center;
  cursor: pointer;
  background: #aae;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 16px 32px 16px 32px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form > span {
  align-self: center;
}

input {
  font-size: inherit;
  padding: 4px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container {
  background: #efe;
  margin: auto;
  padding: 16px;
  width: 100%;
  max-width: 500px;
}

.error {
  background: #900;
  color: #eee;
  padding: 8px;
  visibility: hidden;
}
